# Hooli-Strike Team Database Controller
<figure width=100%>
</figure>
    
## CSPB 3308; Team One
<hr>

## OWNERS: name, email, github username

Name: ```Micah Simmerman```

Email:   ```jasi9001@colorado.edu```

Name: ```Paul Schneider```

Email:   ```Paul.Schneider-1@colorado.edu```

Write your table definitions here. **Format your definitions so they are readable.**

## Set Up the Database Connection

In [219]:
import sqlite3
con = sqlite3.connect("controller_db")
cur = con.cursor()

## Create the User_Account Table

In [220]:
CREATE_UserAccount = """
                     CREATE TABLE IF NOT EXISTS User_Account(
                         Username VARCHAR(32),
                         Password VARCHAR(16),
                         First_Name VARCHAR(50),
                         Last_Name VARCHAR(50),
                         Email VARCHAR(320) UNIQUE, 
                         PRIMARY KEY(Username))
                     """
try:
    cur = con.cursor()
    res = cur.execute(CREATE_UserAccount)
    res.fetchone()
    con.commit()
    print("User_Account table was successfully created.")
except:
    print("Unable to create UserAccount table")

User_Account table was successfully created.

## Truncate the User_Account Table Here

In [221]:
try:
    cur = con.cursor()
    res = cur.execute("DELETE FROM User_Account")
    res.fetchone()
    con.commit()
    print("Truncated the User_Account table.")
except:
    print("Unable to delete from User_Account table. Check database configuration and try again.")

Truncated the User_Account table.

In [222]:
CREATE_UserAccount = """
                     INSERT INTO User_Account (Username,Password,First_Name,Last_Name,Email) 
                     VALUES (?,?,?,?,?);
                     """
data = [("username1","abc123","Mike","Roberts","email@email.com"),
        ("username3","ghi789","Luke","Vivelle","i_heart_sudoku659@email.com"),  
        ("username4","jkl012","Joe","Henderson","email@email.com"),# duplicate email.(SHOULD FAIL)
        ("username2","def456","Joe","Henderson","jimmycrackKORN@email.com"),
        ("username1","mno345","Jim","Beam","patRobertson#$%@email.com")] # duplicate username (SHOULD FAIL)

count = 0
for item in data:
    try:
        cur = con.cursor()
        res = cur.execute(CREATE_UserAccount, (item[0],item[1],item[2],item[3],item[4]))
        res.fetchall()
        con.commit()
        # con.close()
        count+=1
        print("Inserted", item[0], "into User_Account table.")
    except:
        print("Failed to insert", item[0])
        
print(count, "records inserted.")

Inserted username1 into User_Account table.
Inserted username3 into User_Account table.
Failed to insert username4
Inserted username2 into User_Account table.
Failed to insert username1
3 records inserted.

In [243]:
VERIFY_UserAccount = """
                     SELECT 
                         First_Name, 
                         Last_Name, 
                         Email
                     FROM 
                         User_Account
                     WHERE
                         Username = ? AND Password = ?
                     """
uname_passwd = ("username3", "ghi789")
try:
    cur = con.cursor()
    cur.execute(VERIFY_UserAccount, uname_passwd)
    con.commit()
    for row in cur:
        print("Credentials belonging to: ", row[0], row[1], "\nEmail: ", row[2])
except:
    print("User Not Found")

Credentials belonging to:  Luke Vivelle
Email:  i_heart_sudoku659@email.com

In [223]:
CREATE_UserAchievements = """
                     CREATE TABLE IF NOT EXISTS User_Achievements(
                         Username VARCHAR(32),
                         Inquisitor BOOLEAN,
                         LoneWolf BOOLEAN,
                         PuzzleMaster BOOLEAN,
                         RiskTaker BOOLEAN,
                         SpeedRunner BOOLEAN,
                         Conqueror BOOLEAN,
                         PRIMARY KEY(Username), 
                         FOREIGN KEY(Username) REFERENCES User_Account(Username)) 
                     """
try:
    cur = con.cursor()
    res = cur.execute(CREATE_UserAchievements)
    res.fetchone()
    con.commit()
    print("User_Achievements table successfully created.")
except:
    print("Unable to create User_Achievements table")

User_Achievements table successfully created.

## Drop the User_Account Table

In [97]:
DROP_User_Account = """DROP TABLE IF EXISTS User_Account"""

try:
    res = cur.execute(DROP_User_Account)
    res.fetchone()
    print("User_Account Table Dropped")
except:
    print("Not working")

# SAVE FOR TROUBLE SHOOTING
# res = cur.execute(DROP_User_Account)
# res.fetchone()
# con.close()

User_Account Table Dropped

In [ ]:
drop_table = """DROP TABLE IF EXISTS User_Account"""

try:
    res = cur.execute(create_UserAccount)
    res.fetchone()
    print("User_Account Table Dropped")
except:
    print("Not working")

## Close the Database Connection

In [106]:
con.close()