# Hooli-Strike Team Database Controller
<figure width=100%>
</figure>
    
## CSPB 3308; Team One
<hr>

## OWNERS: name, email, github username

Name: 

Email: 

Name: 

Email:

Write your table definitions here. **Format your definitions so they are readable.**

## Set Up the Database Connection

In [1]:
import sqlite3
import dbAPI3
import json
# con = sqlite3.connect("test_db")
# cur = con.cursor()
def delete_tables(db_filename):
    conn = sqlite3.connect(db_filename) 
    with sqlite3.connect(db_filename) as conn:
        c = conn.cursor() 
        #Create User_Account Table
        c.execute("DROP TABLE IF EXISTS User_Account;")
        c.execute("DROP TABLE IF EXISTS User_Achievements;")
        c.execute("DROP TABLE IF EXISTS Achievement_Stats;")
        c.execute("DROP TABLE IF EXISTS Games_In_Progress;")
        c.execute("DROP TABLE IF EXISTS Game_Settings;")
        conn.commit()
    conn.close()

ModuleNotFoundError: No module named 'dbAPI3'

In [2]:
help(dbAPI3)

NameError: name 'dbAPI3' is not defined

In [39]:
db_name = "test_db2"
#dbAPI3.delete_tables(db_name)
dbAPI3.create(db_name)

## Create the User_Account Table

In [40]:
#dbAPI3.delete_tables(db_name)
dbAPI3.print_tables(db_name)

Tables:
	[User_Account]
	Columns of User_Account
		 (0, 'Username', 'VARCHAR(32)', 0, None, 1)
		 (1, 'Password', 'VARCHAR(16)', 0, None, 0)
		 (2, 'First_Name', 'VARCHAR(50)', 0, None, 0)
		 (3, 'Last_Name', 'VARCHAR(50)', 0, None, 0)
		 (4, 'Email', 'VARCHAR(320)', 0, None, 0)
	[Puzzle_Master]
	Columns of Puzzle_Master
		 (0, 'Username', 'VARCHAR(32)', 0, None, 1)
		 (1, 'Game1_Easy', 'BOOLEAN', 0, None, 0)
		 (2, 'Game2_Easy', 'BOOLEAN', 0, None, 0)
		 (3, 'Game3_Easy', 'BOOLEAN', 0, None, 0)
		 (4, 'Game4_Easy', 'BOOLEAN', 0, None, 0)
		 (5, 'Game1_Med', 'BOOLEAN', 0, None, 0)
		 (6, 'Game2_Med', 'BOOLEAN', 0, None, 0)
		 (7, 'Game3_Med', 'BOOLEAN', 0, None, 0)
		 (8, 'Game4_Med', 'BOOLEAN', 0, None, 0)
		 (9, 'Game1_Hard', 'BOOLEAN', 0, None, 0)
		 (10, 'Game2_Hard', 'BOOLEAN', 0, None, 0)
		 (11, 'Game3_Hard', 'BOOLEAN', 0, None, 0)
		 (12, 'Game4_Hard', 'BOOLEAN', 0, None, 0)
	[Achievement_Stats]
	Columns of Achievement_Stats
		 (0, 'Username', 'VARCHAR(32)', 0, None, 1)
		 (1, 'EasyGamesCompleted', 'INT', 0, None, 0)
		 (2, 'MedGamesCompleted', 'INT', 0, None, 0)
		 (3, 'HardGamesCompleted', 'INT', 0, None, 0)
		 (4, 'Best_Time_Easy', 'FLOAT', 0, None, 0)
		 (5, 'Best_Time_Med', 'FLOAT', 0, None, 0)
		 (6, 'Best_Time_Hard', 'FLOAT', 0, None, 0)
	[Games_In_Progress]
	Columns of Games_In_Progress
		 (0, 'Username', 'VARCHAR(32)', 0, None, 0)
		 (1, 'Game_ID', 'INT', 0, None, 1)
		 (2, 'Current_Time', 'INT', 0, None, 0)
		 (3, 'Game', 'VARCHAR(100)', 0, None, 0)
		 (4, 'Difficulty', 'VARCHAR(6)', 0, None, 0)
		 (5, 'Mistakes_Checked', 'INT', 0, None, 0)
		 (6, 'Notes_Checked', 'INT', 0, None, 0)
	[Game_Settings]
	Columns of Game_Settings
		 (0, 'Username', 'INT', 0, None, 1)
		 (1, 'Show_Clock', 'BOOLEAN', 0, None, 0)
		 (2, 'Show_Mistakes_Counter', 'BOOLEAN', 0, None, 0)

In [4]:
#dbAPI2.delete_tables("settings_test_db")
dbAPI2.print_tables("settings_test_db")

Tables:
	[Puzzle_Master]
	Columns of Puzzle_Master
		 (0, 'Username', 'VARCHAR(32)', 0, None, 1)
		 (1, 'Game1_Easy', 'BOOLEAN', 0, None, 0)
		 (2, 'Game2_Easy', 'BOOLEAN', 0, None, 0)
		 (3, 'Game3_Easy', 'BOOLEAN', 0, None, 0)
		 (4, 'Game4_Easy', 'BOOLEAN', 0, None, 0)
		 (5, 'Game1_Med', 'BOOLEAN', 0, None, 0)
		 (6, 'Game2_Med', 'BOOLEAN', 0, None, 0)
		 (7, 'Game3_Med', 'BOOLEAN', 0, None, 0)
		 (8, 'Game4_Med', 'BOOLEAN', 0, None, 0)
		 (9, 'Game1_Hard', 'BOOLEAN', 0, None, 0)
		 (10, 'Game2_Hard', 'BOOLEAN', 0, None, 0)
		 (11, 'Game3_Hard', 'BOOLEAN', 0, None, 0)
		 (12, 'Game4_Hard', 'BOOLEAN', 0, None, 0)
	[User_Account]
	Columns of User_Account
		 (0, 'Username', 'VARCHAR(32)', 0, None, 1)
		 (1, 'Password', 'VARCHAR(16)', 0, None, 0)
		 (2, 'First_Name', 'VARCHAR(50)', 0, None, 0)
		 (3, 'Last_Name', 'VARCHAR(50)', 0, None, 0)
		 (4, 'Email', 'VARCHAR(320)', 0, None, 0)
	[Achievement_Stats]
	Columns of Achievement_Stats
		 (0, 'Username', 'VARCHAR(32)', 0, None, 1)
		 (1, 'EasyGamesCompleted', 'INT', 0, None, 0)
		 (2, 'MedGamesCompleted', 'INT', 0, None, 0)
		 (3, 'HardGamesCompleted', 'INT', 0, None, 0)
		 (4, 'Best_Time_Easy', 'FLOAT', 0, None, 0)
		 (5, 'Best_Time_Med', 'FLOAT', 0, None, 0)
		 (6, 'Best_Time_Hard', 'FLOAT', 0, None, 0)
	[Games_In_Progress]
	Columns of Games_In_Progress
		 (0, 'Username', 'VARCHAR(32)', 0, None, 0)
		 (1, 'Game_ID', 'INT', 0, None, 1)
		 (2, 'Current_Time', 'INT', 0, None, 0)
		 (3, 'Game', 'VARCHAR(100)', 0, None, 0)
		 (4, 'Difficulty', 'VARCHAR(6)', 0, None, 0)
		 (5, 'Mistakes_Checked', 'INT', 0, None, 0)
		 (6, 'Notes_Checked', 'INT', 0, None, 0)
	[Game_Settings]
	Columns of Game_Settings
		 (0, 'Username', 'INT', 0, None, 1)
		 (1, 'Show_Clock', 'BOOLEAN', 0, None, 0)
		 (2, 'Show_Mistakes_Counter', 'BOOLEAN', 0, None, 0)

In [47]:
con = sqlite3.connect(db_name)
with con:
        for result in con.execute("SELECT * FROM User_Account;"):
            print(result)
        # for result in con.execute("SELECT * FROM User_Achievements;"):
        #     print(result)            
        for result in con.execute("SELECT * FROM Achievement_Stats;"):
            print(result)        
        for result in con.execute("SELECT * FROM Games_In_Progress;"):
            print(result)
        for result in con.execute("SELECT * FROM Game_Settings;"):
            print(result)
con.close()

('USER1', 'password', 'first', 'last', 'USER1@email.com')
('USER2', 'password', 'first', 'last', 'USER2@email.com')
('USER3', 'password', 'first', 'last', 'USER3@email.com')
('USER4', 'password', 'first', 'last', 'USER4@email.com')

In [10]:
con = sqlite3.connect(db_name)
with con:
        #con.execute("INSERT INTO User_Account VALUES ('TEST_ACCOUNT','password','user','name','email@email.com');")
        #con.execute("INSERT INTO Game_Settings VALUES ('TEST_ACCOUNT',0,1);")
        
        for result in con.execute('''SELECT json_group_array( json_object(
                                                    'Username', Username,
                                                    'Password', Password,
                                                    'First_Name', First_Name,
                                                    'Last_Name', Last_Name,
                                                    'Email', Email))
                                      FROM User_Account
                                      '''):
            print(result)
        for result in con.execute("SELECT * FROM Game_Settings;"):
            print(result[1],result[2])
con.close()

('[]',)

In [1]:
con = sqlite3.connect(db_name)
with con:
    for user in [{'Username':'USER1'},{'Username':'USER2'},{'Username':'USER3'},{'Username':'USER4'}]:
                con.execute("INSERT INTO User_Account VALUES (:Username, 'password','first','last','email@email.com');",user)
    for result in con.execute("SELECT * FROM User_Account;"):
            print(result)
con.close()

NameError: name 'sqlite3' is not defined

In [2]:
con = sqlite3.connect(db_name)
with con:
    # for user in [{'Username':'USER2','Game_ID':'1235','Current_Time':'1234','Game':"000704005020010070000080002090006250600070008053200010400090000030060090200407000",'Difficulty':'Expert', 'Mistakes_Checked': '0', 'Notes_Checked': '0'}]:
    #     con.execute("INSERT INTO Games_In_Progress VALUES (:Username, :Game_ID, :Current_Time, :Game, :Difficulty, :Mistakes_Checked, :Notes_Checked);",user)   
    for user in [{'Username':'USER2','Game_ID':'1235','Current_Time':'1234','Game':"000704005020010070000080002090006250600070008053200010400090000030060090200407000",'Difficulty':'Expert'}]:
                con.execute("INSERT INTO Games_In_Progress VALUES (:Username, :Game_ID, :Current_Time, :Game, :Difficulty);",user)
    for result in con.execute("SELECT * FROM Games_In_Progress;"):
            print(result)
con.close()

NameError: name 'sqlite3' is not defined

In [9]:
con = sqlite3.connect(db_name)
with con:
    for result in con.execute("SELECT * FROM Games_In_Progress;"):
            print(result)
con.close()

('USER2', 1235, 1234, '000704005020010070000080002090006250600070008053200010400090000030060090200407000', 'Expert', 0, 0)

In [10]:
con = sqlite3.connect(db_name)
with con:
    con.execute('''UPDATE Games_In_Progress SET "Current_Time" = 111, "Game" = "111704005020010070000080002090006250600070008053200010400090000030060090200407111"  WHERE "Game_ID" = "1235"''')
    for result in con.execute("SELECT * FROM Games_In_Progress;"):
            print(result)
con.close()

('USER2', 1235, 111, '111704005020010070000080002090006250600070008053200010400090000030060090200407111', 'Expert', 0, 0)