# Hooli-Strike Team Database Controller
<figure width=100%>
</figure>
    
## CSPB 3308; Team One
<hr>

## OWNERS: name, email, github username

Name: 

Email: 

Name: 

Email:

Write your table definitions here. **Format your definitions so they are readable.**

## Set Up the Database Connection

In [11]:
import sqlite3
import dbAPI
# con = sqlite3.connect("test_db")
# cur = con.cursor()

## Create the User_Account Table

In [12]:
dbAPI.print_tables("test_db")

Tables:
	[User_Account]
	Columns of User_Account
		 (0, 'Username', 'VARCHAR(32)', 0, None, 1)
		 (1, 'Password', 'VARCHAR(16)', 0, None, 0)
		 (2, 'First_Name', 'VARCHAR(50)', 0, None, 0)
		 (3, 'Last_Name', 'VARCHAR(50)', 0, None, 0)
		 (4, 'Email', 'VARCHAR(320)', 0, None, 0)
	[User_Achievements]
	Columns of User_Achievements
		 (0, 'Username', 'VARCHAR(32)', 0, None, 1)
		 (1, 'Inquisitor', 'BOOLEAN', 0, None, 0)
		 (2, 'LoneWolf', 'BOOLEAN', 0, None, 0)
		 (3, 'PuzzleMaster', 'BOOLEAN', 0, None, 0)
		 (4, 'RiskTaker', 'BOOLEAN', 0, None, 0)
		 (5, 'SpeedRunner', 'BOOLEAN', 0, None, 0)
		 (6, 'Conqueror', 'BOOLEAN', 0, None, 0)
	[Achievement_Stats]
	Columns of Achievement_Stats
		 (0, 'Username', 'VARCHAR(32)', 0, None, 1)
		 (1, 'EasyGamesCompleted', 'INT', 0, None, 0)
		 (2, 'MedGamesCompleted', 'INT', 0, None, 0)
		 (3, 'HardGamesCompleted', 'INT', 0, None, 0)
		 (4, 'Best_Time_Easy', 'FLOAT', 0, None, 0)
		 (5, 'Best_Time_Med', 'FLOAT', 0, None, 0)
		 (6, 'Best_Time_Hard', 'FLOAT', 0, None, 0)
		 (7, 'AccountLevel', 'FLOAT', 0, None, 0)
	[Games_In_Progress]
	Columns of Games_In_Progress
		 (0, 'Username', 'VARCHAR(32)', 0, None, 0)
		 (1, 'Game_ID', 'INT', 0, None, 1)
		 (2, 'Current_Time', 'TEXT', 0, None, 0)
		 (3, 'Game', 'BLOB', 0, None, 0)
	[Game_Settings]
	Columns of Game_Settings
		 (0, 'Username', 'INT', 0, None, 1)
		 (1, 'Show_Mistakes', 'BOOLEAN', 0, None, 0)
		 (2, 'Show_Clock', 'BOOLEAN', 0, None, 0)
		 (3, 'Show_Hints', 'BOOLEAN', 0, None, 0)
		 (4, 'Candidate_Mode', 'BOOLEAN', 0, None, 0)
		 (5, 'Show_Mistakes_Counter', 'BOOLEAN', 0, None, 0)
		 (6, 'Difficulty', 'VARCHAR(6)', 0, None, 0)

In [19]:
con = sqlite3.connect("test_db")
with con:
        for result in con.execute("SELECT * FROM User_Account;"):
            print(result)
        
        for result in con.execute("SELECT * FROM Game_Settings;"):
            print(result)
con.close()