# Hooli-Strike Team Database Controller
<figure width=100%>
</figure>
    
## CSPB 3308; Team One
<hr>

## OWNERS: name, email, github username

Name: 

Email: 

Name: 

Email:

Write your table definitions here. **Format your definitions so they are readable.**

## Set Up the Database Connection

In [126]:
import sqlite3
import dbAPI5
import json
# con = sqlite3.connect("test_db")
# cur = con.cursor()
def delete_tables(db_filename):
    conn = sqlite3.connect(db_filename) 
    with sqlite3.connect(db_filename) as conn:
        c = conn.cursor() 
        #Create User_Account Table
        c.execute("PRAGMA foreign_keys = ON;")
        c.execute("DELETE FROM User_Account")
        c.execute("DROP TABLE IF EXISTS User_Account;")
        c.execute("DROP TABLE IF EXISTS User_Achievements;")
        c.execute("DROP TABLE IF EXISTS Achievement_Stats;")
        c.execute("DROP TABLE IF EXISTS Games_In_Progress;")
        c.execute("DROP TABLE IF EXISTS Game_Settings;")
        conn.commit()
    conn.close()

In [127]:
help(dbAPI5)

Help on module dbAPI5:

NAME
    dbAPI5

DESCRIPTION
    #Authors: Paul Schneider TEST
    #Date: April 2023
    #Purpose: Create a database for the website

FUNCTIONS
    create(db_filename)

    create_trigger(db_name)

    delete_tables(db_filename)

    print_tables(db_filename)

FILE
    /home/jovyan/SWDev/Group1_Project/page_templates/SQL/dbAPI5.py

In [128]:
db_name = "settings_test_db"
dbAPI5.delete_tables(db_name)
dbAPI5.create(db_name)
#dbAPI5.create_trigger(db_name)

## Create the User_Account Table

In [129]:
#dbAPI5.delete_tables(db_name)
dbAPI5.print_tables(db_name)

Tables:
	[User_Account]
	Columns of User_Account
		 (0, 'Username', 'VARCHAR(32)', 0, None, 1)
		 (1, 'Password', 'VARCHAR(16)', 0, None, 0)
		 (2, 'First_Name', 'VARCHAR(50)', 0, None, 0)
		 (3, 'Last_Name', 'VARCHAR(50)', 0, None, 0)
		 (4, 'Email', 'VARCHAR(320)', 0, None, 0)
	[User_Achievements]
	Columns of User_Achievements
		 (0, 'Username', 'VARCHAR(32)', 0, None, 1)
		 (1, 'Inquisitor', 'BOOLEAN', 0, None, 0)
		 (2, 'LoneWolf', 'BOOLEAN', 0, None, 0)
		 (3, 'PuzzleMaster', 'BOOLEAN', 0, None, 0)
		 (4, 'RiskTaker', 'BOOLEAN', 0, None, 0)
		 (5, 'SpeedRunner', 'BOOLEAN', 0, None, 0)
		 (6, 'Conqueror', 'BOOLEAN', 0, None, 0)
	[Puzzle_Master]
	Columns of Puzzle_Master
		 (0, 'Username', 'VARCHAR(32)', 0, None, 1)
		 (1, 'Game1_Easy', 'BOOLEAN', 0, None, 0)
		 (2, 'Game2_Easy', 'BOOLEAN', 0, None, 0)
		 (3, 'Game3_Easy', 'BOOLEAN', 0, None, 0)
		 (4, 'Game4_Easy', 'BOOLEAN', 0, None, 0)
		 (5, 'Game1_Med', 'BOOLEAN', 0, None, 0)
		 (6, 'Game2_Med', 'BOOLEAN', 0, None, 0)
		 (7, 'Game3_Med', 'BOOLEAN', 0, None, 0)
		 (8, 'Game4_Med', 'BOOLEAN', 0, None, 0)
		 (9, 'Game1_Hard', 'BOOLEAN', 0, None, 0)
		 (10, 'Game2_Hard', 'BOOLEAN', 0, None, 0)
		 (11, 'Game3_Hard', 'BOOLEAN', 0, None, 0)
		 (12, 'Game4_Hard', 'BOOLEAN', 0, None, 0)
	[Achievement_Stats]
	Columns of Achievement_Stats
		 (0, 'Username', 'VARCHAR(32)', 0, None, 1)
		 (1, 'EasyGamesCompleted', 'INT', 0, None, 0)
		 (2, 'MedGamesCompleted', 'INT', 0, None, 0)
		 (3, 'HardGamesCompleted', 'INT', 0, None, 0)
		 (4, 'Best_Time_Easy', 'FLOAT', 0, None, 0)
		 (5, 'Best_Time_Med', 'FLOAT', 0, None, 0)
		 (6, 'Best_Time_Hard', 'FLOAT', 0, None, 0)
	[Games_In_Progress]
	Columns of Games_In_Progress
		 (0, 'Username', 'VARCHAR(32)', 0, None, 1)
		 (1, 'Game_ID', 'INT', 0, None, 0)
		 (2, 'Current_Time', 'INT', 0, None, 0)
		 (3, 'Game', 'VARCHAR(100)', 0, None, 0)
		 (4, 'Difficulty', 'VARCHAR(6)', 0, None, 0)
		 (5, 'Mistakes_Checked', 'INT', 0, None, 0)
		 (6, 'Notes_Checked', 'INT', 0, None, 0)
	[Game_Settings]
	Columns of Game_Settings
		 (0, 'Username', 'INT', 0, None, 1)
		 (1, 'Show_Clock', 'BOOLEAN', 0, None, 0)
		 (2, 'Show_Mistakes_Counter', 'BOOLEAN', 0, None, 0)

In [134]:
con = sqlite3.connect(db_name)
with con:
        for result in con.execute("SELECT * FROM User_Account;"):
            print("User_Account:", result)
        for result in con.execute("SELECT * FROM User_Achievements;"):
            print("User_Achievements:", result)            
        for result in con.execute("SELECT * FROM Puzzle_Master;"):
            print("Puzzle_Master:", result)
        for result in con.execute("SELECT * FROM Achievement_Stats;"):
            print("Achievement_Stats:", result)        
        for result in con.execute("SELECT * FROM Games_In_Progress;"):
            print("Games_In_Progress:", result)
        for result in con.execute("SELECT * FROM Game_Settings;"):
            print("Game_Settings:", result)
con.close()

User_Account: ('USER1', 'password', 'first', 'last', 'USER1@email.com')
User_Account: ('USER2', 'password', 'first', 'last', 'USER2@email.com')
User_Account: ('USER3', 'password', 'first', 'last', 'USER3@email.com')
User_Account: ('USER4', 'password', 'first', 'last', 'USER4@email.com')
User_Account: ('USER999', 'password', 'name', 'name', '999@email.com')
User_Achievements: ('USER1', 0, 0, 0, 0, 0, 0)
User_Achievements: ('USER2', 0, 0, 0, 0, 0, 0)
User_Achievements: ('USER3', 0, 0, 0, 0, 0, 0)
User_Achievements: ('USER4', 0, 0, 0, 0, 0, 0)
User_Achievements: ('USER999', 0, 0, 0, 0, 0, 0)
Puzzle_Master: ('USER1', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
Puzzle_Master: ('USER2', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
Puzzle_Master: ('USER3', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
Puzzle_Master: ('USER4', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
Puzzle_Master: ('USER999', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
Achievement_Stats: ('USER1', 0, 0, 0, 0.0, 0.0, 0.0)
Achievement_Stats: ('USER2', 0, 0, 0, 0.0, 0.0, 0.0)
Achievement_Stats: ('USER3', 0, 0, 0, 0.0, 0.0, 0.0)
Achievement_Stats: ('USER4', 0, 0, 0, 0.0, 0.0, 0.0)
Achievement_Stats: ('USER999', 0, 0, 0, 0.0, 0.0, 0.0)
Games_In_Progress: ('USER1', 1, 0, '0', '0', 0, 0)
Games_In_Progress: ('USER2', 1, 0, '0', '0', 0, 0)
Games_In_Progress: ('USER3', 1, 0, '0', '0', 0, 0)
Games_In_Progress: ('USER4', 1, 0, '0', '0', 0, 0)
Games_In_Progress: ('USER999', 1, 0, '0', '0', 0, 0)
Game_Settings: ('USER1', 1, 0)
Game_Settings: ('USER2', 1, 0)
Game_Settings: ('USER3', 1, 0)
Game_Settings: ('USER4', 1, 0)
Game_Settings: ('USER999', 1, 0)

In [10]:
con = sqlite3.connect(db_name)
with con:
        #con.execute("INSERT INTO User_Account VALUES ('TEST_ACCOUNT','password','user','name','email@email.com');")
        #con.execute("INSERT INTO Game_Settings VALUES ('TEST_ACCOUNT',0,1);")
        
        for result in con.execute('''SELECT json_group_array( json_object(
                                                    'Username', Username,
                                                    'Password', Password,
                                                    'First_Name', First_Name,
                                                    'Last_Name', Last_Name,
                                                    'Email', Email))
                                      FROM User_Account
                                      '''):
            print(result)
        for result in con.execute("SELECT * FROM Game_Settings;"):
            print(result[1],result[2])
con.close()

('[]',)

In [132]:
con = sqlite3.connect(db_name)
with con:
    con.execute("PRAGMA foreign_keys = ON;")
    for user in [{'Username':'USER1', 'Email':'USER1@email.com'},{'Username':'USER2', 'Email':'USER2@email.com'},{'Username':'USER3', 'Email':'USER3@email.com'},{'Username':'USER4', 'Email':'USER4@email.com'}]:
                con.execute("INSERT INTO User_Account VALUES (:Username, 'password','first','last',:Email);",user)
    for result in con.execute("SELECT * FROM User_Account;"):
            print(result)
con.close()

('USER1', 'password', 'first', 'last', 'USER1@email.com')
('USER2', 'password', 'first', 'last', 'USER2@email.com')
('USER3', 'password', 'first', 'last', 'USER3@email.com')
('USER4', 'password', 'first', 'last', 'USER4@email.com')

In [15]:
con = sqlite3.connect(db_name)
with con:
    # for user in [{'Username':'USER2','Game_ID':'1235','Current_Time':'1234','Game':"000704005020010070000080002090006250600070008053200010400090000030060090200407000",'Difficulty':'Expert', 'Mistakes_Checked': '0', 'Notes_Checked': '0'}]:
    #     con.execute("INSERT INTO Games_In_Progress VALUES (:Username, :Game_ID, :Current_Time, :Game, :Difficulty, :Mistakes_Checked, :Notes_Checked);",user)   
    for user in [{'Username':'USER2','Game_ID':'1235','Current_Time':'1234','Game':"000704005020010070000080002090006250600070008053200010400090000030060090200407000",'Difficulty':'Expert'}]:
                con.execute("INSERT INTO Games_In_Progress VALUES (:Username, :Game_ID, :Current_Time, :Game, :Difficulty);",user)
    for result in con.execute("SELECT * FROM Games_In_Progress;"):
            print(result)
con.close()

('USER2', 1235, '1234', '000704005020010070000080002090006250600070008053200010400090000030060090200407000', 'Expert')

In [9]:
con = sqlite3.connect(db_name)
with con:
    for result in con.execute("SELECT * FROM Games_In_Progress;"):
            print(result)
con.close()

('USER2', 1235, 1234, '000704005020010070000080002090006250600070008053200010400090000030060090200407000', 'Expert', 0, 0)

In [10]:
con = sqlite3.connect(db_name)
with con:
    con.execute('''UPDATE Games_In_Progress SET "Current_Time" = 111, "Game" = "111704005020010070000080002090006250600070008053200010400090000030060090200407111"  WHERE "Game_ID" = "1235"''')
    for result in con.execute("SELECT * FROM Games_In_Progress;"):
            print(result)
con.close()

('USER2', 1235, 111, '111704005020010070000080002090006250600070008053200010400090000030060090200407111', 'Expert', 0, 0)

In [16]:
con = sqlite3.connect(db_name)
with con:
    for user in [{'Username':'RandyBoBandy-71','Game1_Easy': False,'Game2_Easy': False,'Game3_Easy': False,'Game4_Easy': False, 'Game1_Med': False, 'Game2_Med': False, 'Game3_Med': False, 'Game4_Med': False, 'Game1_Hard': False, 'Game2_Hard': False, 'Game3_Hard': False, 'Game4_Hard': False}]:
                con.execute("INSERT INTO Puzzle_Master VALUES (:Username, :Game1_Easy, :Game2_Easy, :Game3_Easy, :Game4_Easy, :Game1_Med, :Game2_Med, :Game3_Med, :Game4_Med, :Game1_Hard, :Game2_Hard, :Game3_Hard, :Game4_Hard);",user)
    for result in con.execute("SELECT * FROM Puzzle_Master;"):
        print(result)       
con.close()

OperationalError: no such table: Puzzle_Master

In [107]:
try: 
    con = sqlite3.connect(db_name) 
    c = con.cursor() 
    
    c.executescript("""
        PRAGMA foreign_keys = ON;
        DROP TRIGGER IF EXISTS Create_User_Data;
        CREATE TRIGGER Create_User_Data
        AFTER INSERT ON User_Account
        BEGIN
            INSERT INTO User_Achievements VALUES (NEW.Username, 0, 0, 0, 0, 0, 0);
            INSERT INTO Puzzle_Master VALUES(NEW.Username, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0);
            INSERT INTO Achievement_Stats VALUES (NEW.Username, 0, 0, 0, 0, 0, 0);
            INSERT INTO Games_In_Progress VALUES (NEW.Username, 1, 0, 0, 0, 0, 0);
            INSERT INTO Game_Settings VALUES (NEW.Username, 1, 0);
        END;
            """)
    con.commit()
    con.close()
    print("Trigger Created Successfully")
except:
    print("Unable to Create Create_User_Data Trigger")

Trigger Created Successfully

In [131]:
con = sqlite3.connect(db_name)
with con:
    c = con.cursor()
    for result in c.execute("SELECT name FROM sqlite_master WHERE type='trigger';"):
            print(result)
con.close()
#select name from sqlite_master where type = 'trigger';

('Create_User_Data',)