# Hooli-Strike Team Database Controller
<figure width=100%>
</figure>
    
## CSPB 3308; Team One
<hr>

## OWNERS: name, email, github username

Name: 

Email: 

Name: 

Email:

Write your table definitions here. **Format your definitions so they are readable.**

## Set Up the Database Connection

In [1]:
import sqlite3
import dbAPI2
# con = sqlite3.connect("test_db")
# cur = con.cursor()
def delete_tables(db_filename):
    conn = sqlite3.connect(db_filename) 
    with sqlite3.connect(db_filename) as conn:
        c = conn.cursor() 
        #Create User_Account Table
        c.execute("DROP TABLE IF EXISTS User_Account;")
        c.execute("DROP TABLE IF EXISTS User_Achievements;")
        c.execute("DROP TABLE IF EXISTS Achievement_Stats;")
        c.execute("DROP TABLE IF EXISTS Games_In_Progress;")
        c.execute("DROP TABLE IF EXISTS Game_Settings;")
        conn.commit()
    conn.close()

In [2]:
help(dbAPI2)

Help on module dbAPI2:

NAME
    dbAPI2

DESCRIPTION
    #Authors: Paul Schneider TEST
    #Date: April 2023
    #Purpose: Create a database for the website

FUNCTIONS
    create(db_filename)

    delete_tables(db_filename)

    print_tables(db_filename)

FILE
    /home/jovyan/Group1_Project/page_templates/SQL/dbAPI2.py

In [9]:

dbAPI2.delete_tables("settings_test_db")
dbAPI2.create("settings_test_db")

## Create the User_Account Table

In [4]:
dbAPI2.print_tables("settings_test_db")

Tables:
	[User_Account]
	Columns of User_Account
		 (0, 'Username', 'VARCHAR(32)', 0, None, 1)
		 (1, 'Password', 'VARCHAR(16)', 0, None, 0)
		 (2, 'First_Name', 'VARCHAR(50)', 0, None, 0)
		 (3, 'Last_Name', 'VARCHAR(50)', 0, None, 0)
		 (4, 'Email', 'VARCHAR(320)', 0, None, 0)
	[User_Achievements]
	Columns of User_Achievements
		 (0, 'Username', 'VARCHAR(32)', 0, None, 1)
		 (1, 'Inquisitor', 'BOOLEAN', 0, None, 0)
		 (2, 'LoneWolf', 'BOOLEAN', 0, None, 0)
		 (3, 'PuzzleMaster', 'BOOLEAN', 0, None, 0)
		 (4, 'RiskTaker', 'BOOLEAN', 0, None, 0)
		 (5, 'SpeedRunner', 'BOOLEAN', 0, None, 0)
		 (6, 'Conqueror', 'BOOLEAN', 0, None, 0)
	[Achievement_Stats]
	Columns of Achievement_Stats
		 (0, 'Username', 'VARCHAR(32)', 0, None, 1)
		 (1, 'EasyGamesCompleted', 'INT', 0, None, 0)
		 (2, 'MedGamesCompleted', 'INT', 0, None, 0)
		 (3, 'HardGamesCompleted', 'INT', 0, None, 0)
		 (4, 'Best_Time_Easy', 'FLOAT', 0, None, 0)
		 (5, 'Best_Time_Med', 'FLOAT', 0, None, 0)
		 (6, 'Best_Time_Hard', 'FLOAT', 0, None, 0)
		 (7, 'AccountLevel', 'FLOAT', 0, None, 0)
	[Games_In_Progress]
	Columns of Games_In_Progress
		 (0, 'Username', 'VARCHAR(32)', 0, None, 0)
		 (1, 'Game_ID', 'INT', 0, None, 1)
		 (2, 'Current_Time', 'TEXT', 0, None, 0)
		 (3, 'Game', 'BLOB', 0, None, 0)
		 (4, 'Difficulty', 'VARCHAR(6)', 0, None, 0)
	[Game_Settings]
	Columns of Game_Settings
		 (0, 'Username', 'INT', 0, None, 1)
		 (1, 'Show_Clock', 'BOOLEAN', 0, None, 0)
		 (2, 'Show_Mistakes_Counter', 'BOOLEAN', 0, None, 0)

In [10]:
con = sqlite3.connect("settings_test_db")
with con:
        for result in con.execute("SELECT * FROM User_Account;"):
            print(result)
        
        for result in con.execute("SELECT * FROM Game_Settings;"):
            print(result)
con.close()

In [14]:
con = sqlite3.connect("settings_test_db")
with con:
        #con.execute("INSERT INTO User_Account VALUES ('TEST_ACCOUNT','password','user','name','email@email.com');")
        #con.execute("INSERT INTO Game_Settings VALUES ('TEST_ACCOUNT',0,1);")
        
        for result in con.execute("SELECT * FROM User_Account;"):
            print(result)
        for result in con.execute("SELECT * FROM Game_Settings;"):
            print(result[1],result[2])
con.close()

(':User_Account', 'LarBear25', 'Paul', 'Schneider', 'dogluver@email.com')
('User10', 'LarBear25', 'Paul', 'Schneider', 'dogluver@email.com')

In [7]:
con = sqlite3.connect("settings_test_db")
with con:
    for user in [{'Username':'USER1'},{'Username':'USER2'},{'Username':'USER3'},{'Username':'USER4'}]:
                con.execute("INSERT INTO User_Account VALUES (:Username, 'password','first','last','email@email.com');",user)
    for result in con.execute("SELECT * FROM User_Account;"):
            print(result)
con.close()

('USER1', 'password', 'first', 'last', 'email@email.com')
('USER2', 'password', 'first', 'last', 'email@email.com')
('USER3', 'password', 'first', 'last', 'email@email.com')
('USER4', 'password', 'first', 'last', 'email@email.com')